/*
* For rendering images inserted using the image plugin.
* Includes image captions using the HTML5 figure element.
*/
.postStyle {
    p {
        @apply my-3 sm:my-5
    }

    h1 {
        @apply font-extrabold text-2xl mt-7 sm:mt-10
    }

    h2, h3, h4, h5, h6 {
        @apply pt-3 font-semibold
    }

    figure {
        @apply w-full py-6 sm:py-10
    }

    img {
        @apply w-fit mx-auto
    }

    figcaption {
        @apply text-center w-full text-[#a7a7a7] text-sm sm:text-base py-2
    }

    a {
        @apply underline
    }

    code {
        @apply bg-[#282C34] px-1 rounded text-white text-lg
    }

    pre {
        @apply bg-[#282C34] rounded text-white text-lg w-full p-4 select-none whitespace-break-spaces
    }

    pre code {
        @apply bg-transparent
    }

    ol {
        @apply list-decimal px-6
    }

    ul {
        @apply list-disc px-6 py-2
    }

    li {
        @apply list-outside
    }

    table {
        @apply border-collapse;
    }

    /* Apply a default padding if legacy cellpadding attribute is missing */
    table:not([cellpadding]) th,
    table:not([cellpadding]) td {
        @apply p-2
    }

    /* Set default table styles if a table has a positive border attribute
         and no inline css */
    table[border]:not([border="0"]):not([style*="border-width"]) th,
    table[border]:not([border="0"]):not([style*="border-width"]) td {
        @apply border-[1px]
    }

    /* Set default table styles if a table has a positive border attribute
         and no inline css */
    table[border]:not([border="0"]):not([style*="border-style"]) th,
    table[border]:not([border="0"]):not([style*="border-style"]) td {
        @apply border-solid
    }

    /* Set default table styles if a table has a positive border attribute
         and no inline css */
    table[border]:not([border="0"]):not([style*="border-color"]) th,
    table[border]:not([border="0"]):not([style*="border-color"]) td {
        @apply border-[#ccc]
    }

    hr {
        @apply border-[#ccc] border-solid border-t-[1px]
    }

    .mce-content-body:not([dir=rtl]) blockquote {
        border-left: 2px solid #ccc;
        margin-left: 1.5rem;
        padding-left: 1rem;
    }

    .mce-content-body[dir=rtl] blockquote {
        border-right: 2px solid #ccc;
        margin-right: 1.5rem;
        padding-right: 1rem;
    }

}